body {
    background-color:#5b5d5f; 
}
/* ERROR */
.error {
    padding: 10px;
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #c20b0b; 
    font-size: 14px;
}
/* SUCCESS */
.success {
    padding: 10px;
    border: 1px solid #3c763d; 
    color: #3c763d; 
    background: #f2dede; 
    font-size: 14px;
}
.login {
    width: 400px;
    background-color: black;
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
input[type="password"], input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
